/* Tablets and Desktops */
@media (min-width: 480px) {
	.people {
		display: all;
	}
	
	.mobile {
		display: none;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.people {
		display: none;
	}
	
	.mobile {
		display: all;
	}
}

body {
    margin: 0; 
    padding: 0; 
    border: 0;   
}
nav{
    z-index: 1;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   box-shadow: none;

}

.navbar li { color: #000 } 

header {
  width: 100%;
  height: 400px;
  background-color: #fff;
  color: #fff;
  text-align: center;
}

.header {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: auto;
  background-image: url('img/Headshots Fall 2017/image4-min.JPG');
  background-position:50% 50%;
}

.header-text { 
  position: absolute; 
  top:0;
  left:0; 
  width: 100%;
  height: 400px;
  display: table; 

}

.header-text p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

a {
  color: black;
}

a:hover {
  color:black
}
